.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: #f8f8f8;
}

.logo img{
    height: 50px;
}
.nav-items ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-items ul li{
    cursor: pointer;
    font-weight: bold;
}